<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"2.5rem","bottom":"3.5rem","left":"0.75rem","right":"0.75rem"}}},"layout":{"type":"constrained","contentSize":"48rem"}} -->
<main class="wp-block-group" style="padding-top:2.5rem;padding-right:0.75rem;padding-bottom:3.5rem;padding-left:0.75rem">
	<!-- wp:post-title {"level":1} /-->
	<!-- wp:post-date {"className":"is-style-t-meta","style":{"spacing":{"margin":{"top":"0.75rem"}}}} /-->
	<!-- wp:post-featured-image {"className":"mo-media","style":{"spacing":{"margin":{"top":"1.5rem"}},"border":{"radius":"1rem"}}} /-->
	<!-- wp:post-content {"layout":{"type":"constrained"},"style":{"spacing":{"margin":{"top":"2rem"}}}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
